---
Language: Cpp
BasedOnStyle: Microsoft
LineEnding: LF
InsertNewlineAtEOF: true
ColumnLimit: 120
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
SeparateDefinitionBlocks: Always
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
