---
Language: Cpp
BasedOnStyle: Microsoft
LineEnding: LF
InsertNewlineAtEOF: true
ColumnLimit: 120
IndentPPDirectives: AfterHash
PPIndentWidth: 1
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
SeparateDefinitionBlocks: Always
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortLambdasOnASingleLine: Empty
IncludeBlocks: Preserve
SortIncludes:
  Enabled: true
  IgnoreCase: false
  IgnoreExtension: true
